From Tutor/1_intro.py
From Tutor/2_if_else.py
From Tutor/3_list_tuple_set.py
From Tutor/4_dictionary.py
From Tutor/5_function.py
From Tutor/6_loop_new.py
From Tutor/6_loop.py
From Tutor/7_lambda_map_filter_reduce.py
From Tutor/7_lambda.py
From Tutor/8_oop.py
From Tutor/9_read_file.py
From Tutor/10_html_css.html
From Tutor/ans.py
From Tutor/hangman-asyraf.py
From Tutor/hangman.py
From Tutor/nyoba.py
From Tutor/PR -asryaf.py
From Tutor/test.py
From Tutor/waktu.py
__pycache__/palindrome.cpython-37.pyc
From Tutor/(TO_DO)_Reinforcement_Learning.ipynb
